__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
instance/*.db
instance/production.db
*.db
*.log
*.env
.env
.venv/
venv/
build/
dist/
*.egg-info/
/.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
/.ruff_cache/
.DS_Store
Thumbs.db
/.idea/
/.vscode/
*.swp
**/*.pyc
